In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
    "Accept-Language": "en-US,en;q=0.9",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
    "Referer": "https://www.google.com/",
}
webpage=requests.get("https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav",headers=headers)

In [ ]:
soup=BeautifulSoup(webpage.text,'lxml')
print(soup.prettify())

In [3]:
company=soup.find_all("div",class_="companyCardWrapper")
name=[]
rating=[]
number_of_reviews=[]
information=[]
for i in company:
    name.append(i.find("h2").text.strip())
    rating.append(i.find("div",class_="rating_text rating_text--md" ).text.strip())
    number_of_reviews.append(i.find("span",class_="companyCardWrapper__ActionCount").text.strip())
    information.append(i.find("span",class_="companyCardWrapper__interLinking").text.strip())

In [4]:
data={"name":name,"rating":rating,"number_of_reviews":number_of_reviews,"information":information}
info=pd.DataFrame(data)
info

,name,rating,number_of_reviews,information
0,TCS,3.4,1.1L,IT Services & Consulting | Bangalore / Bengalu...
1,Accenture,3.7,70k,IT Services & Consulting | Bangalore / Bengalu...
2,Wipro,3.6,62.2k,IT Services & Consulting | Hyderabad / Secunde...
3,Cognizant,3.7,59.2k,IT Services & Consulting | Hyderabad / Secunde...
4,Capgemini,3.7,50.8k,IT Services & Consulting | Bangalore / Bengalu...
5,HDFC Bank,3.8,49.5k,Banking | Mumbai +1804 other locations
6,Infosys,3.5,46.5k,IT Services & Consulting | Bangalore / Bengalu...
7,ICICI Bank,4.0,44.6k,Banking | Mumbai +1433 other locations
8,HCLTech,3.4,43.7k,IT Services & Consulting | Chennai +227 other ...
9,Tech Mahindra,3.4,41.8k,IT Services & Consulting | Hyderabad / Secunde...
10,Genpact,3.6,40.1k,IT Services & Consulting | Hyderabad / Secunde...
11,Teleperformance,3.8,35.9k,BPO | Mumbai +252 other locations
12,Axis Bank,3.6,31.8k,Banking | Mumbai +1490 other locations
13,Jio,4.3,31.1k,Telecom | Mumbai +1848 other locations
14,Concentrix Corporation,3.6,31.1k,BPO | Bangalore / Bengaluru +175 other locations
15,Amazon,3.9,30.3k,Internet | Bangalore / Bengaluru +519 other lo...
16,iEnergizer,4.6,27.3k,BPO | Noida +51 other locations
17,Reliance Retail,3.9,26.6k,Retail | Mumbai +1140 other locations
18,IBM,3.9,25.1k,IT Services & Consulting | Bangalore / Bengalu...
19,LTIMindtree,3.6,24.8k,IT Services & Consulting | Bangalore / Bengalu...

In [5]:
final_list = [] 

for j in range(1, 9):  
    url = "https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}".format(j)
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
        "Accept-Language": "en-US,en;q=0.9",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
        "Referer": "https://www.google.com/",
    }

    webpage = requests.get(url, headers=headers)
    soup = BeautifulSoup(webpage.text, "lxml")
    company = soup.find_all("div", class_="companyCardWrapper")

    name = []
    rating = []
    number_of_reviews = []
    information = []

    for i in company:
        name.append(i.find("h2").text.strip())
        rating.append(i.find("div", class_="rating_text rating_text--md").text.strip())
        number_of_reviews.append(i.find("span", class_="companyCardWrapper__ActionCount").text.strip())
        information.append(i.find("span", class_="companyCardWrapper__interLinking").text.strip())

    data = {
        "name": name,
        "rating": rating,
        "number_of_reviews": number_of_reviews,
        "information": information,
    }
    info = pd.DataFrame(data)
    final_list.append(info)

final = pd.concat(final_list, ignore_index=True)
final

,name,rating,number_of_reviews,information
0,TCS,3.4,1.1L,IT Services & Consulting | Bangalore / Bengalu...
1,Accenture,3.7,70k,IT Services & Consulting | Bangalore / Bengalu...
2,Wipro,3.6,62.2k,IT Services & Consulting | Hyderabad / Secunde...
3,Cognizant,3.7,59.2k,IT Services & Consulting | Hyderabad / Secunde...
4,Capgemini,3.7,50.8k,IT Services & Consulting | Bangalore / Bengalu...
...,...,...,...,...
155,L&T Finance,3.9,4.4k,NBFC | Mumbai +623 other locations
156,Dell,3.8,4.4k,Consumer Electronics & Appliances | Bangalore ...
157,Randstad,3.7,4.4k,Recruitment | Hyderabad / Secunderabad +346 ot...
158,CARS24,3.4,4.4k,Internet | Gurgaon / Gurugram +173 other locat...
159,Utkarsh Small Finance Bank,3.6,4.4k,Banking | Varanasi +399 other locations

In [6]:
final.to_csv("companies.csv",index=False)

In [7]:
pd.read_csv("companies.csv")

,name,rating,number_of_reviews,information
0,TCS,3.4,1.1L,IT Services & Consulting | Bangalore / Bengalu...
1,Accenture,3.7,70k,IT Services & Consulting | Bangalore / Bengalu...
2,Wipro,3.6,62.2k,IT Services & Consulting | Hyderabad / Secunde...
3,Cognizant,3.7,59.2k,IT Services & Consulting | Hyderabad / Secunde...
4,Capgemini,3.7,50.8k,IT Services & Consulting | Bangalore / Bengalu...
...,...,...,...,...
155,L&T Finance,3.9,4.4k,NBFC | Mumbai +623 other locations
156,Dell,3.8,4.4k,Consumer Electronics & Appliances | Bangalore ...
157,Randstad,3.7,4.4k,Recruitment | Hyderabad / Secunderabad +346 ot...
158,CARS24,3.4,4.4k,Internet | Gurgaon / Gurugram +173 other locat...
159,Utkarsh Small Finance Bank,3.6,4.4k,Banking | Varanasi +399 other locations

In [8]:
final.rename(columns={"name":"Ccompany_Name","rating":"Rating","number_of_reviews":"Number_of_reviews","information":"Information"},inplace=True)

In [6]:
import pandas as pd
df= pd.read_csv("companies.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               160 non-null    object
 1   rating             160 non-null    float64
 2   number_of_reviews  160 non-null    object
 3   information        160 non-null    object
dtypes: float64(1), object(3)
memory usage: 5.1+ KB